{% extends "layout.twig" %}

{% block body %}
	<h1>{{title}}</h1>
	{% if (user) %}
		<p>Wilkommen zurück
			{{ user.username }}</p>
		<a href="/logout">Log out</a>
	{% else %}
		<p>Wilkommen</p>
		<a href="/login">Bitte melde dich an</a>
	{% endif %}
{% endblock %}
