<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css"/>

		{% block head %}
			{% if title %}
				<title>{{ title }}</title>
			{% else %}
				<title>KKG Helpdesk</title>
			{% endif %}
		{% endblock %}
	</h>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
